.quote-divison{
    padding: 10px;
    margin: 1rem;
    background-color: var(--bg1);
    /* background-image: url("../assets/Timer-Scroll.png"); */
    background-size: cover;
    background-position: center;
    
    border-radius: 1rem;

    width: fit-content;
    height: 5rem;
    background-size: cover;
}

.quote{
    color: var(--txt1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quote-author {
    color: var(--txt2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
}

.quote-credit {
    position: relative;
    top: 4rem;
}