
/* .timer-time > * {
} */

.timer-Focus {
    color: var(--dark);
}
.timer-Break{
    color: rgb(128, 124, 0);
}
.timer-Long {
    color: rgb(129, 100, 81);
}

.timer {

    position:relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 10px;
    margin: 3rem;

    border-radius: 10px;
    box-shadow: 0px 15px 2px -5px var(--bg3);

    width: 70%;
    height: 16rem;

    background: var(--bg1);

    /* clip-path: polygon(50.14% 0%, 100% 10.48%, 100% 41.82%, 50.14% 50.39%, 0% 41.82%, 0.29% 10.48%); */

}

.timer > * {
    position: relative;
    
    /* top: 2.5rem; */
}

.timer-time{
    top: 3rem;
    width: 80%;

    color: var(--txt1);

    background-color: var(--bg2);
    border-radius: 20px;
    
}

.timer-buttons{
    display: flex;
    justify-content: space-between;

    top: 4rem;
    width: 30%;
    height: 4rem;

    gap: 3px;
}

.timer-buttons > * {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    min-width: 0;  
    
    aspect-ratio: 1/1;

    border-radius: 10%;
    background-color: var(--bg2);

    overflow: hidden;      /* stops growth */
}

.stage {
    position: absolute;
    top: -1.75rem;

    width: 50%;

    background-color: var(--bg3);
    border-radius: 10px;
    
    z-index: 2;
}