.todo-list{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    width: 75%;

    background-color: var(--bg1);
    border-radius: var(--margin-s);
}


.todo-item {
    
    display: grid;
    grid-template-rows: 5rem;
    grid-template-columns: 5rem 1fr 5rem;

    align-items: center;
    justify-items: center;

    width: 98%;
    height: 5rem;
    margin: 3px;
    /* color: var(--txt1); */
    background-color: var(--bg2);
    
    border-radius: 1rem;
    /* gap: 10px; */
}

.todo-item-text {
    flex-grow: 1;
}

.todo-item-actions{
    display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: 1fr 1fr;


    
    height: 100%;
    width: 100%;
    
}
/* .todo-item-actions * > {
    
    height: 100%;
    aspect-ratio: 1/1;
} */

.check-button {

    margin: 3px;

    width: 85%;
    aspect-ratio: 1/1;

    border-radius: 10%;
    background-color: var(--bg3);

    font-size: var(--margin-xxl);
}


.todo-item-remove {

    grid-area: 1/1/3/2;
    width: 80%;
    /* margin: 3px; */

    font-size: large;
    color: red;
    
}
.todo-item-move{

    width: 80%;
    aspect-ratio: 1/1;

}

.todo-input {
    
    font-size: 1rem;
    
    height: 1.5rem;
    width: 75%;
    
    padding:3px;
    margin: 3px;

    border-radius: 1rem;
    border: none;
}
